.SkedifyCalendar {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  border: 1px solid #e0e0e0;
}

.SkedifyCalendar * {
  box-sizing: border-box;
}

/* The top section of the calendar */
.SkedifyCalendar__Header {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
}

.SkedifyCalendar__WeekHeader__Gutter {
  flex-shrink: 0;
  border-bottom: 1px solid #e0e0e0;
}

.SkedifyCalendar__WeekHeader__Days {
  border-bottom: 1px solid #e0e0e0;
  flex: 1;
  flex-shrink: 0;
}

.SkedifyCalendar__WeekHeader__Days__Day {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  font-size: 14px;
}

.SkedifyCalendar__WeekHeader__Scrollbar {
  flex-shrink: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* The scrollable content box*/
.SkedifyCalendar__Main {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.SkedifyCalendar__Column {
  width: 100%;
  height: 100%;
  position: relative;
}

.SkedifyCalendar__Slot {
  width: 100%;
  flex-shrink: 0;
  border-left: 1px solid #e0e0e0;
}

.SkedifyCalendar__Slot:nth-child(odd):not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

.SkedifyCalendar__Slot:nth-child(even) {
  border-top: 1px dotted #e0e0e0;
}

.SkedifyCalendar__EventWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.SkedifyCalendar__Event {
  padding: 6px;
  background: #153887;
  color: white;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
}

.SkedifyCalendar__Gutter {
  flex-shrink: 0;
  height: 100%;
}

.SkedifyCalendar__Gutter__Slot {
  width: 100%;
  flex-shrink: 0;
}

.SkedifyCalendar__Gutter__Slot__Contents {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  border-top: 1px solid transparent;
}

.SkedifyCalendar__DragHandle {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  cursor: row-resize;
  padding: 0;
  margin: 0;
}
